path.background {
    fill: #dfe5e7;
}

path.primary {
    fill: #fff;
}
.b-sizing-b-box{box-sizing: border-box;}
#main {
    position: absolute;
    top: 0;
    z-index: 200;
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Segoe UI Regular','HelveticaNeue Light', Helvetica, sans-serif;
    /* The following removes hover etc from main */
    /* pointer-events: none;  */
}
html[dir] .pane {
    transform: translateZ(0);
}
.pane{
    position: relative;
    z-index: 100;
    height: 100%;
    overflow: hidden;
}
.middle{
    flex: 55%;
}
html[dir=ltr] .middle {
    transform-origin: left top;
}

#chatlist-header {
    position: relative;
    z-index: 1000;
    box-sizing: border-box;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 59px;
    /* padding: 10px 16px; */
    background-color: #075e54;
}

#chatlist-header .nav {
    width: 33%;
    height: 100%;
    text-align: center;
    transition: background-color 0.4s;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    padding-bottom: 0.4rem;
    flex: none;
}

.nav:hover {
    cursor: pointer;
    background-color: #128a7e;
}

.nav .nav_text {
    font-family: 'Segoe UI Bold','Helvetica Bold';
    font-weight: 700;
    color: #e9edef;
}

#side,
#pane-side {
    display: flex;
    flex-direction: column;
}

#side {
    height: 100%;
    overflow: hidden;
}
html[dir] .pane-side {
    background-color: var(--background-default);
}
#pane-side {
    z-index: 1;
    flex-grow: 1;
    overflow-y: auto;
    background-color: var(--background-default);
}

.search-div {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex: none;
    /* align-items: center; */
    height: 49px;
    background-color: white;
    box-shadow: 0 2px 3px whitesmoke;
    transition: box-shadow .18s ease-out, background-color .25s ease-out;
}

.search-div input {
    flex-grow: 1;
}

.chat {
    min-height: 72px;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--background-default);
}
html[dir] .cur-point {
    cursor: pointer;
}
.cur-point {
    cursor: pointer;
}
html[dir] .chat.active {
    background-color: var(--background-default-active);
}
.chat:hover {
    cursor: pointer;
    background-color: var(--background-default-hover)
}

.chat-img-profile {
    height: 49px;
    width: 49px;
    border-radius: 50%;
}

.chat-profile-pic {
    border-radius: 50%;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.chat-content {
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    min-width: 0;
    padding-right: 15px;
    border-top: 1px solid #e9edef;
}

.chat-info {
    display: flex;
    align-items: center;
    line-height: normal;
}

.chat-sender {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    font-size: 17px;
    /* font-weight: 500; */
    line-height: 21px;
    color: #111b21;
    overflow-wrap: break-word;
}

.chat-time {
    margin-top: 3px;
    overflow: hidden;
    line-height: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: none;
    max-width: 100%;
    font-size: 12px;
    color: #667781;
}

/* STRAIGHT UP COPIED FROM WHATSAPP */
html[dir=ltr] ._1PzAL {
    left: 0;
}
html[dir] ._1PzAL {
    background-repeat: repeat;
}
[data-asset-chat-background-dark] {
    background-image: url('/static/img/bg-chat-tile-dark_a4be512e7195b6b733d9110b408f075d.png');
}
._1PzAL {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .06;
}


.middle-header {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    height: 59px;
    padding: 10px 16px;
    background-color: #f0f2f5;
    border-left: 1px solid #d1d7db;
}

.middle-header-profile {
    padding: 0 15px 0 0;
    margin-top: -1px;
    flex: none;
}

.middle-header-profile-name {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: #111b21;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#profile-pic>* {
    width: 40px;
    height: 40px;
}

[role=button] {
    cursor: pointer;
}

#conversation-panel-messages {
    border-left: 1px solid #e9edef;
    background-color: initial;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

}

#all-msgs-from-chat {
    flex: 1 1 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 4rem;
    /* gap:2px; */
}
html[dir] .msg.marg-bottom-2px {
    margin-bottom: 2px;
    /* could have used gap 2px */
}
html[dir] .msg {
    margin-bottom: 12px;
}
.msg {
    position: relative;
    display: flex;
    flex-direction: column;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.message-out {
    align-items: flex-end;
}

.message-out .ifty {
    background-color: #d9fdd3;
}

.message-in {
    align-items: flex-start;
}
.message-in .ifty {
    background-color: #fff;
}
#msg-container {
    border-radius: 7.5px;
    position: relative;
    flex: none;
    font-size: 14.2px;
    line-height: 19px;
    color: #111b21;
    max-width: 75%;
}

/* Naming scheme more or less following the whatsappweb obfuscated class names */
.ifty {
    box-shadow: 0 1px 0.5px rgba(11, 20, 26, .13);
    border-radius: 7.5px;
    position: relative;
    /* z-index: 200; */
}

/* Naming scheme : same as ifty (classname on whatsapp: _22Msk)*/
.msg22 {
    padding: 6px 7px 8px 9px;
    box-sizing: border-box;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
#spinner{
    min-height: 50px;
    text-align: center;
    text-shadow: 1px 2px 2px #548b68;
    color: #598152;
    font-family: monospace;
    letter-spacing: 4px;
}
.copyable-text {
    position: relative;
    overflow-wrap: break-word;
    /* white-space: pre-wrap; */ /* USING max-width ch instead */
    max-width: 80ch;
}
/* Trying to match whatsappweb css here */
.color-1 {color: #06cf9c!important;}
.clr-danger{color: var(--danger);}
.clr-white{color: rgba(255,255,255,.9);/*rgba(var(--inverse-rgb),.9);*/}
.clr-bubble-meta {
    color: #667781;
    /* var(--bubble-meta); */
}
.clr-bubble-meta-ico{
    color: #8696a0; /* var(--bubble-meta-icon); */
}
.clr-icon-ack{
    color: #53bdeb;/*var(--icon-ack); */
}
.clr-icon-lighter{color: var(--icon-lighter);}
.clr-notf-e2e{color: #54656f;/*var(--notification-e2e-icon);*/}
.bg-color-1{background-color: #06cf9c!important;}
.bg-color-white{background-color: #fff!important;}
html[dir] .bg-clr-notf-e2e {
    background-color: #ffeecd;/*var(--notification-e2e-background)*/;
}


.bg-clr-notf-e2e{background-color: #ffeecd;color: #54656f;/*var(--notification-e2e-text);*/}
.bg-pos-center{background-position: center;}
.bg-size-cover{background-size: cover;}
.font-size-0-68-rem {
    font-size: 0.6875rem;
}
.hght-15-px{height: 15px;}
.hght-28px{height: var(--height-thumb-shade);}
.line-hght-15-px{line-height: 15px;}
.wht-space-nowrap{white-space: nowrap;}
.dsp-inline-b{display: inline-block;}
.v-align-top{vertical-align: top;}
.v-align-neg-4px{vertical-align: -4px;}
.marg-l-3px{margin-left: 3px;}
.marg-top-4px{margin-top: 4px;}
.marg-346{margin: -3px -4px 6px -6px;}
html[dir=ltr] .marg-r-3px {
    /* Normally used for icons (svgs) */
    margin-right: 3px;
}
html[dir=ltr] .marg-l-n-2px {
    margin-left: -2px;
}
html:not([dir='rtl']) .pad-l-6px {
    padding-left: 6px;
}
html:not([dir='rtl']) .pad-r-0 {
    padding-right: 0;
}
.pad-b-5px{
    padding-bottom: 5px;
}
html:not([dir='rtl']) .pad-r-4px {
    padding-right: 4px;
}
.pad-t-7px{
    padding-top: 7px;
}
.pad-top-3px{padding-top: 3px;}
html:not([dir='rtl']) .pad-l-3px {
    padding-left: 3px;
}
html:not([dir='rtl']) .pad-r-3px {
    padding-right: 3px;
}
.pad-b-3px{padding-bottom: 3px;}

html:not([dir='rtl']) .marg-top-4x-meowy-pad {
    margin-right: 4px;
}
.pos-rel{position: relative;}
.pos-abs{position: absolute;}
.z-ind-1{z-index: 1;}
.z-ind-2{z-index: 2;}
html:not([dir='rtl']) .b-br-rad-6px {
    border-bottom-right-radius: var(--radius-thumb);
}
html:not([dir='rtl']) .b-tr-rad-6px {
    border-top-right-radius: var(--radius-thumb);
}
html:not([dir='rtl']) .b-tl-rad-6px {
    border-top-left-radius: var(--radius-thumb);
}
html:not([dir='rtl']) .b-bl-rad-6px {
    border-bottom-left-radius: var(--radius-thumb);
}

.shadow-b{box-shadow: 0 1px 0.5px #0b141a21;}
.time-read {
    float: right;
    margin: -10px 0 -5px 4px;
    position: relative;
    z-index: 10;
}
.txt-msg-con{
    position: relative;
    overflow-wrap: break-word;
    /* white-space: pre-wrap; */
}
.visible{visibility: visible;}
.selectable-text {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
.dsp-inline-b-v-align-mid{
    display: inline-block;
    width: 54px;
    vertical-align: middle;
}
.hght-100{
    height: 100%;
}

html[lang=en] .wdth-lang {
    width: 74px;
}
.wdth-lang {
    width: 72px;
}
.wdth-100 {
    width: 100%;
}
.wdth-max-100{
    max-width: 100%;
}
.wdth-max-330px {
    max-width: 330px;
}
html[dir] .message-out .soft {
    background-color: var(--outgoing-background-deeper);
}
html[dir] .soft {
    background-color: rgba(var(--overlay-rgb),.05);
    border-radius: 7.5px;
}

.soft {
    position: relative;
    display: flex;
    overflow: hidden;
}
html[dir=ltr] .tiny-bar {
    border-top-left-radius: 7.5px;
    border-bottom-left-radius: 7.5px;
}
.tiny-bar {
    flex: none;
    width: 4px;
}
html[dir=ltr] .rply-con {
    padding: 4px 12px 8px 8px;
}
html[dir] ._25font {
    margin: 0 3px;
}
._25font{
    position: relative;
    top: -2px;
    font-size: 12.5px;
    font-style: italic;
    color: var(--forwarded-indicator-text);
}
.rply-con {
    display: flex;
    flex-grow: 1;
    align-items: center;
    min-height: 42px;
    max-height: 82px;
    overflow: hidden;
    padding-left: 0.4rem; /* BEWARE THIS ISN'T PRESENT IN THE ORIGINAL! */
}
.flx-grow-over-hid{
    flex-grow: 1;
    overflow: hidden;
}
.flx-grow-0{flex-grow: 0;}
.flx-shrink-0{flex-shrink: 0;}
.flx-basis-auto{flex-basis: auto;}
.flx-00a-over-hid{
    /* Used for reply thumbnail */
    flex: 0 0 auto;
    overflow: hidden;
}
html:not([dir='rtl']) .left-0 {
    left: 0;
}
.bottom-0{bottom:0;}
.bottom-6px{bottom:6px;}
.sender-name {
    display: inline-flex;
    max-width: 100%;
    font-size: 12.8px;
    font-weight: 500;
    line-height: 22px;
    color: var(--teal-lighter);
}
html[dir=ltr] .aJatt {
    padding-left: 2px;
    margin-left: -2px;
}

.aJatt {
    flex: 0 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rply-to-msg{
    display: -webkit-box;
    max-height: 60px;
    overflow: hidden;
    font-size: 13.2px;
    line-height: 20px;
    color: var(--quoted-message-text);
    text-overflow: ellipsis;
    word-wrap: break-word;
    /* white-space: pre-wrap;  */ /* Im using max-width: UNITch instead*/
    max-width: 80ch;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.photo-icon{
    /* Small photo icon by whatsapp */
    display: inline-block;
    flex: none;
    color: var(--chatlist-icon);
    vertical-align: top;
}

html[dir=ltr] .msg, html[dir=rtl] .msg {
    padding-right: 9%;
    padding-left: 9%;
}

html[dir=ltr] ._msg, html[dir=rtl] ._msg {
    padding-right: 9%;
    padding-left: 9%;
}
html[dir] ._msg {
    margin-bottom: 12px;
}
.flx-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

html[dir] ._msg-norm:last-of-type {
    margin-bottom: 0;
}

html[dir] ._sys-msg {
    padding: 5px 12px 6px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(var(--inverse-rgb),.4);
    background-color: var(--system-message-background);
    border-radius: 7.5px;
    box-shadow: 0 1px 0.5px rgba(var(--shadow-rgb),.13);
}
html[dir] ._msg-norm {
    border-radius: 7.5px;
}
._sys-msg {
    box-sizing: border-box;
    display: inline-block;
    flex: none;
    max-width: 100%!important;
    font-size: 12.5px;
    line-height: 21px;
    color: var(--system-message-text);
}
._msg-norm {
    position: relative;
    flex: none;
    font-size: 14.2px;
    line-height: 19px;
    color: var(--message-primary);
}
.overflow-hid-x {
    overflow-x: hidden;
}
.overflow-hid-y {
    overflow-y: hidden;
}

.overflow-hid-ellips{
    overflow: hidden;
    text-overflow: ellipsis;
}

html[dir=ltr] .abs-r5-t7 {
    right: 5px;
}
.abs-r5-t7 {
    position: absolute;
    top: 7px;
}

html[dir] .div-empty {
    margin-top: -13px;
    padding: 0 4px;
}

.div-empty {
    position: absolute;
    top: 50%;
    width: 101px;
}
.flx-dir-row {
    flex-direction: row;
}
.dsp-flx {
    display: flex;
}
.hght-min-0 {
    min-height: 0;
}
.wdth-min-0 {
    min-width: 0;
}
.flx-align-center {
    align-items: center;
}
.flx-just-con-start {
    justify-content: flex-start;
}/* Trying to match whatsappweb css here */
.color-1 {color: #06cf9c!important;}
.clr-bubble-meta {
    color: #667781;
    /* var(--bubble-meta); */
}
.clr-bubble-meta-ico{
    color: #8696a0; /* var(--bubble-meta-icon); */
}
.clr-icon-ack{
    color: #53bdeb;/*var(--icon-ack); */
}
.clr-notf-e2e{color: #54656f;/*var(--notification-e2e-icon);*/}
.bg-color-1{background-color: #06cf9c!important;}
.bg-color-white{background-color: #fff!important;}
html[dir] .bg-clr-notf-e2e {
    background-color: #ffeecd;/*var(--notification-e2e-background)*/;
}


.bg-clr-notf-e2e{background-color: #ffeecd;color: #54656f;/*var(--notification-e2e-text);*/}
.font-size-0-68-rem {
    font-size: 0.6875rem;
}
.b-img-l-grad{
    background-image: linear-gradient(to top,rgba(var(--overlay-rgb),.5),rgba(var(--overlay-rgb),0));
}
.hght-15-px{height: 15px;}
.line-hght-15-px{line-height: 15px;}
.wht-space-nowrap{white-space: nowrap;}
.dsp-inline-b{display: inline-block;}
.v-align-top{vertical-align: top;}
.marg-l-3px{margin-left: 3px;}
.marg-top-4px{margin-top: 4px;}
.marg-346{margin: -3px -4px 6px -6px;}

html:not([dir='rtl']) .marg-top-4x-meowy-pad {
    margin-right: 4px;
}

html:not([dir='rtl']) .right-8px {
    right: 8px;
}


.shadow-b{box-shadow: 0 1px 0.5px #0b141a21;}
.time-read {
    float: right;
    margin: -10px 0 -5px 4px;
    position: relative;
    z-index: 10;
}
.txt-msg-con{
    position: relative;
    overflow-wrap: break-word;
    /* white-space: pre-wrap; */
}
.visible{visibility: visible;}
.selectable-text {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
.dsp-inline-b-v-align-mid{
    display: inline-block;
    width: 54px;
    vertical-align: middle;
}
html[lang=en] .wdth-lang {
    width: 74px;
}
.wdth-lang {
    width: 72px;
}
html[dir] .message-out .soft {
    background-color: var(--outgoing-background-deeper);
}
html[dir] .soft {
    background-color: rgba(var(--overlay-rgb),.05);
    border-radius: 7.5px;
}

.soft {
    position: relative;
    display: flex;
    overflow: hidden;
}
html[dir=ltr] .tiny-bar {
    border-top-left-radius: 7.5px;
    border-bottom-left-radius: 7.5px;
}
.tiny-bar {
    flex: none;
    width: 4px;
}
html[dir=ltr] .rply-con {
    padding: 4px 12px 8px 8px;
}

.rply-con {
    display: flex;
    flex-grow: 1;
    align-items: center;
    min-height: 42px;
    max-height: 82px;
    overflow: hidden;
    padding-left: 0.4rem; /* BEWARE THIS ISN'T PRESENT IN THE ORIGINAL! */
}
.sender-name {
    display: inline-flex;
    max-width: 100%;
    font-size: 12.8px;
    font-weight: 500;
    line-height: 22px;
    color: var(--teal-lighter);
}
html[dir=ltr] .aJatt {
    padding-left: 2px;
    margin-left: -2px;
}

.aJatt {
    flex: 0 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rply-to-msg{
    display: -webkit-box;
    max-height: 60px;
    overflow: hidden;
    font-size: 13.2px;
    line-height: 20px;
    color: var(--quoted-message-text);
    text-overflow: ellipsis;
    word-wrap: break-word;
    /* white-space: pre-wrap;  */ /* Im using max-width: UNITch instead*/
    max-width: 80ch;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
html[dir] .rply-thumb-outer-div {
    background-position: 50%;
    background-size: cover;
}
.rply-thumb-outer-div{
    position: relative;
    width: 58px;
    height: 100%;
}

html[dir=ltr] .msg, html[dir=rtl] .msg {
    padding-right: 9%;
    padding-left: 9%;
}
.img-thumb-blur{
    filter: blur(8px); /* blur(var(--blur-radius-thumbnail)); */
}

@media (max-width: 800px){
    html[dir=ltr] ._msg, html[dir=rtl] ._msg {
        padding-right: 5%;
        padding-left: 5%;
    }
    html[dir=ltr] .msg, html[dir=rtl] .msg {
        padding-right: 5%;
        padding-left: 5%;
    }
}
@media (max-width: 856px){
    html[dir=ltr] ._msg, html[dir=rtl] ._msg {
        padding-right: 5.5%;
        padding-left: 5.5%;
    }
    html[dir=ltr] .msg, html[dir=rtl] .msg {
        padding-right: 5.5%;
        padding-left: 5.5%;
    }
}
@media (max-width: 912px){
    html[dir=ltr] ._msg, html[dir=rtl] ._msg {
        padding-right: 6%;
        padding-left: 6%;
    }
    html[dir=ltr] .msg, html[dir=rtl] .msg {
        padding-right: 6%;
        padding-left: 6%;
    }
}
@media (max-width: 968px){
    html[dir=ltr] ._msg, html[dir=rtl] ._msg {
        padding-right: 6.5%;
        padding-left: 6.5%;
    }
    html[dir=ltr] .msg, html[dir=rtl] .msg {
        padding-right: 6.5%;
        padding-left: 6.5%;
    }
}
@media (max-width: 1024px){
    html[dir=ltr] ._msg, html[dir=rtl] ._msg {
        padding-right: 7%;
        padding-left: 7%;
    }
    html[dir=ltr] .msg, html[dir=rtl] .msg {
        padding-right: 7%;
        padding-left: 7%;
    }
}
html[dir=ltr] ._msg, html[dir=rtl] ._msg {
    padding-right: 9%;
    padding-left: 9%;
}
html[dir] ._msg {
    margin-bottom: 12px;
}
.flx-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

html[dir] ._msg-norm:last-of-type {
    margin-bottom: 0;
}

html[dir] ._sys-msg {
    padding: 5px 12px 6px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(var(--inverse-rgb),.4);
    background-color: var(--system-message-background);
    border-radius: 7.5px;
    box-shadow: 0 1px 0.5px rgba(var(--shadow-rgb),.13);
}
html[dir] ._msg-norm {
    border-radius: 7.5px;
}
._sys-msg {
    box-sizing: border-box;
    display: inline-block;
    flex: none;
    max-width: 100%!important;
    font-size: 12.5px;
    line-height: 21px;
    color: var(--system-message-text);
}
._msg-norm {
    position: relative;
    flex: none;
    font-size: 14.2px;
    line-height: 19px;
    color: var(--message-primary);
}
.overflow-hid-ellips{
    overflow: hidden;
    text-overflow: ellipsis;
}
html[dir=ltr] .abs-r5-t7 {
    right: 5px;
}
.abs-r5-t7 {
    position: absolute;
    top: 7px;
}

html[dir] .div-empty {
    margin-top: -13px;
    padding: 0 4px;
}

.div-empty {
    position: absolute;
    top: 50%;
    width: 101px;
}
.flx-dir-row {
    flex-direction: row;
}
.dsp-flx {
    display: flex;
}
.hght-min-0 {
    min-height: 0;
}
.wdth-min-0 {
    min-width: 0;
}
.wdth-max-246px{max-width: 246px;}
.flx-align-center {
    align-items: center;
}
.flx-just-con-start {
    justify-content: flex-start;
}
.flx-just-con-center {
    justify-content: center;
}
@media screen and (max-width: 900px) {
    #msg-container {
        max-width: 95%;
    }
    .two .left {
        flex: 45%;
    }
    .two .middle {
        flex: 55%;
    }
}
@media screen and (max-width: 900px){
    .two .left {
        flex: 45%;
    }
    .two .middle {
        flex: 55%;
    }
}
@media (max-width: 800px) {

    /* There are more media queries for msg(._1-FMR) class where padding increases bases on screen size */
    .msg {
        padding-right: 5%;
        padding-left: 5%;
    }
}

@media screen and (max-width: 600px) {
    .left {
        flex: 35%;
    }
    .middle {
        flex: 65%;
    }
}