<html dir="ltr" lang="en" class="" lazy-loaded="true">

<head>
</head>

<body>
    <!-- MAGIC HAPPENS IN IMG src -->
    <img
        src="data:image/jpg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEABsbGxscGx4hIR4qLSgtKj04MzM4PV1CR0JHQl2NWGdYWGdYjX2Xe3N7l33gsJycsOD/2c7Z//////////////8BGxsbGxwbHiEhHiotKC0qPTgzMzg9XUJHQkdCXY1YZ1hYZ1iNfZd7c3uXfeCwnJyw4P/Zztn////////////////CABEIAEgAKAMBIgACEQEDEQH/xAAtAAADAQEBAAAAAAAAAAAAAAAAAwQBAgUBAQEBAAAAAAAAAAAAAAAAAAABAv/aAAwDAQACEAMQAAAAtmsmOt5phZpVU3oeONlQxbSASZM9M1tiORI4s5qi3GmzINS0lEYBKLCkAJ//xAAkEAACAgIBAwQDAAAAAAAAAAABAgARAxIhBDFBEBMiIzJRYf/aAAgBAQABPwCyAYAYADHUqtgzwIwhNCAzjUX6MkKpsdu8NV27GO527y+BDX7E6/IEI0IJmLrXb4FLmQ1bResDHUip02ZmcB8h1jn7HF3MOdsBNCZH9zCWPBIhR05/kXY1Q8w4y+S1EOFAvysmcBdbhFip+NCK64wDHyEk3GcAwGlubQuNDcORj5gJqPl4oS/T2VPYx8beIQRP/8QAGBEAAgMAAAAAAAAAAAAAAAAAASAQESH/2gAIAQIBAT8AYzWt/8QAGBEAAgMAAAAAAAAAAAAAAAAAASAQESH/2gAIAQMBAT8AkNeN/9k=">

    <div class="_1-FMR _15WYQ focusable-list-item" tabindex="-1">
        <div class="_1-lf9 NQl4z">
            <span dir="auto" class="i0jNr">
                YESTERDAY
            </span>
        </div>
    </div>



    <div class="ItfyB _3nbHh">
        
                <div role="button" data-testid="image-thumb"
                    class="gndfcl4n l8fojup5 paxyh2gw sfeitywo cqsf3vkf ajgl1lbb p357zi0d ac2vgrno laorhtua gfz4du6o r7fjleex g0rxnol2"
                    style="width: 240px; height: 320px;">
                    <div class="g0rxnol2 ln8gz9je ppled2lx" data-testid="media-url-provider">
                        <div class="lhggkp7q jnl3jror p357zi0d gndfcl4n ac2vgrno ln8gz9je ppled2lx"><img
                                src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEABsbGxscGx4hIR4qLSgtKj04MzM4PV1CR0JHQl2NWGdYWGdYjX2Xe3N7l33gsJycsOD/2c7Z//////////////8BGxsbGxwbHiEhHiotKC0qPTgzMzg9XUJHQkdCXY1YZ1hYZ1iNfZd7c3uXfeCwnJyw4P/Zztn////////////////CABEIAEEAMAMBIgACEQEDEQH/xAAwAAACAwEBAAAAAAAAAAAAAAADBAACBQYBAQADAQEAAAAAAAAAAAAAAAAAAQMCBP/aAAwDAQACEAMQAAAAITIYzTU9uJzuUBWucNSmejYa53ecDFRAzn3gMN31ExZLjVAz13PeriKTSjrPpsCZikkvh5ySLkkD/8QAJhAAAgMAAQMDBAMAAAAAAAAAAQIAAxEEEhMhBTFBIjJDURBCUv/aAAgBAQABPwAuw0kiI7MR7QuAcY5O5Sv9hBbQT9w2Blcas53024CcnprlnfTGCN7iGik+4g4tP+YtSKME5xZrj1Cem/e8flVJYEJ8mDIP3KjW40MMnPTLA3XuzhEqHYTjEtySLPmA4BLmJUgThAVhvPuYzPYdwzgoHR1MPG7dqlWJEB8TkFmIAM7zVfHmFj0kicE/S0ts6RsXnV4JfaXfQcjM7DS0UdQz9yio0gy1/Bmdf4zGRkwsniPpAw7EaLaXXARsKWs2ShO2mE6YcIwztICCFg+YIn44v8Gf/8QAHREAAwABBQEAAAAAAAAAAAAAAAECEAMRIDFBcf/aAAgBAgEBPwDlcOceGqm1NISNiB9v7j//xAAeEQACAgEFAQAAAAAAAAAAAAAAAQIREBIhMUFRcf/aAAgBAwEBPwCUaV5m7WYz1DO+CGzaGyxnnzH/2Q=="
                                class="jciay5ix tvf2evcx oq44ahr5 lb5m6g5c fsmudgz7" style="width: 100%;"></div>
                        <div class="lhggkp7q jnl3jror p357zi0d gndfcl4n ac2vgrno ln8gz9je ppled2lx"><img
                                src="blob:https://web.whatsapp.com/26bb2fdf-df8e-41ce-819d-c0292e43455a"
                                class="jciay5ix tvf2evcx oq44ahr5 lb5m6g5c" style="width: 100%;"></div>
                    </div>
                    <div class="lhggkp7q jxacihee tkdu00h0 b9fczbqn ln8gz9je he7yjufn e1lnay39" style="
    /* display: none; */
"></div>
                </div>
                <div class="dpkuihx7 lhggkp7q j2mzdvlq b9fczbqn">
                    <div class="pp8r7oc8 lak21jic e4p1bexh cr2cog7z le5p0ye3 _1WSmF" data-testid="msg-meta"
                        role="button"><span class="l7jjieqr fewfhwl7" dir="auto">2:49 pm</span>
                        <div class="do8e0lj9 l7jjieqr k6y3xtnu"><span data-testid="msg-dblcheck" aria-label=" Read "
                                data-icon="msg-dblcheck" class="_3l4_3 N4ItZ"><svg viewBox="0 0 16 15" width="16"
                                    height="15" class="">
                                    <path fill="currentColor"
                                        d="m15.01 3.316-.478-.372a.365.365 0 0 0-.51.063L8.666 9.879a.32.32 0 0 1-.484.033l-.358-.325a.319.319 0 0 0-.484.032l-.378.483a.418.418 0 0 0 .036.541l1.32 1.266c.143.14.361.125.484-.033l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0-.478-.372a.365.365 0 0 0-.51.063L4.566 9.879a.32.32 0 0 1-.484.033L1.891 7.769a.366.366 0 0 0-.515.006l-.423.433a.364.364 0 0 0 .006.514l3.258 3.185c.143.14.361.125.484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z">
                                    </path>
                                </svg></span></div>
                    </div>
                </div>
            </div>
        </div><span></span>
        <div class="_39T_J"></div>
    </div>

</body>

</html>