<template id="msg-txt">
    <div data-temp-id="main" tabindex="-1" msgid="0000" msgchatrowid="0000" class="msg j-md4 focusable-list-item"
        msgkeyid="XRANDOM32DIGITLONGHASHSOMETHINGX" msgjidrawstring="whosentit"><span></span>
        <div data-temp-id="2" id="msg-container">
            <div data-temp-id="3" class="ifty shadow-b">
                <div class="msg22">
                    <div data-temp-id="append-here" class="copyable-text" timesent="1234567891011">

                        <div id="txt-msg-con" class="txt-msg-con">
                            <span dir="ltr" class="visible selectable-text copyable-text">
                                <span data-temp-id="my-text">
                                    ..%[==TEXT NOT SET BY JAVASCRIPT==]%..err
                                </span>
                            </span>
                            <span class="dsp-inline-b-v-align-mid wdth-lang"></span>
                        </div>
                    </div>
                    <div data-temp-id="time-read-outer-div" class="time-read">
                        <div class="clr-bubble-meta font-size-0-68-rem hght-15-px line-hght-15-px wht-space-nowrap _1WSmF"
                            data-testid="msg-meta" role="button">
                            <span data-temp-id="msg-time" class="dsp-inline-b v-align-top" dir="auto">
                                00:00 pm
                            </span>
                            <!-- Read status div -->
                            <div data-temp-id="msg-dblcheck-div" class="marg-l-3px dsp-inline-b clr-bubble-meta-ico">
                                <!-- By removing .clr-icon-ack double tick ico becomes receieved -->
                                <span data-temp-id="msg-dblcheck" aria-label=" Read " data-icon="msg-dblcheck"
                                    class="clr-icon-ack">
                                    <svg viewBox="0 0 16 15" width="16" height="15" class="">
                                        <path fill="currentColor"
                                            d="m15.01 3.316-.478-.372a.365.365 0 0 0-.51.063L8.666 9.879a.32.32 0 0 1-.484.033l-.358-.325a.319.319 0 0 0-.484.032l-.378.483a.418.418 0 0 0 .036.541l1.32 1.266c.143.14.361.125.484-.033l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0-.478-.372a.365.365 0 0 0-.51.063L4.566 9.879a.32.32 0 0 1-.484.033L1.891 7.769a.366.366 0 0 0-.515.006l-.423.433a.364.364 0 0 0 .006.514l3.258 3.185c.143.14.361.125.484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z">
                                        </path>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <span></span>
                <div class="abs-r5-t7"></div>
            </div>
            <div class="dsp-flx wdth-min-0 hght-min-0 flx-just-con-start flx-dir-row flx-align-center div-empty"></div>
        </div>
    </div>
</template>

<!-- Img regular -->
<div tabindex="-1" class="_1-FMR _3Zpy8 j-md4 message-in focusable-list-item"
    data-id="false_918427714674@c.us_B25BA7CAC11E5A247DADA4175385BA72"><span></span>
    <div data-testid="msg-container" class="_1-lf9 _1pC3e">
        <div class="ifty shadow-b">
            <div class="b-sizing-b-box wdth-max-246px pad-top-3px pad-r-3px aa0kojfi snweb893 pos-rel z-ind-1">
                <div>
                    <div role="button" data-testid="image-thumb"
                        class="flx-align-center l8fojup5 paxyh2gw sfeitywo cqsf3vkf ajgl1lbb dsp-flx flx-just-con-center laorhtua gfz4du6o r7fjleex pos-rel"
                        style="width: 240px; height: 320px;">
                        <div class="pos-rel wdth-100 hght-100" data-testid="media-url-provider">
                            <div class="pos-abs z-ind-1 dsp-flx flx-align-center flx-just-con-center wdth-100 hght-100">
                                <img src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEABsbGxscGx4hIR4qLSgtKj04MzM4PV1CR0JHQl2NWGdYWGdYjX2Xe3N7l33gsJycsOD/2c7Z//////////////8BGxsbGxwbHiEhHiotKC0qPTgzMzg9XUJHQkdCXY1YZ1hYZ1iNfZd7c3uXfeCwnJyw4P/Zztn////////////////CABEIAEEAMAMBIgACEQEDEQH/xAAwAAACAwEBAAAAAAAAAAAAAAADBAACBQYBAQADAQEAAAAAAAAAAAAAAAAAAQMCBP/aAAwDAQACEAMQAAAAITIYzTU9uJzuUBWucNSmejYa53ecDFRAzn3gMN31ExZLjVAz13PeriKTSjrPpsCZikkvh5ySLkkD/8QAJhAAAgMAAQMDBAMAAAAAAAAAAQIAAxEEEhMhBTFBIjJDURBCUv/aAAgBAQABPwAuw0kiI7MR7QuAcY5O5Sv9hBbQT9w2Blcas53024CcnprlnfTGCN7iGik+4g4tP+YtSKME5xZrj1Cem/e8flVJYEJ8mDIP3KjW40MMnPTLA3XuzhEqHYTjEtySLPmA4BLmJUgThAVhvPuYzPYdwzgoHR1MPG7dqlWJEB8TkFmIAM7zVfHmFj0kicE/S0ts6RsXnV4JfaXfQcjM7DS0UdQz9yio0gy1/Bmdf4zGRkwsniPpAw7EaLaXXARsKWs2ShO2mE6YcIwztICCFg+YIn44v8Gf/8QAHREAAwABBQEAAAAAAAAAAAAAAAECEAMRIDFBcf/aAAgBAgEBPwDlcOceGqm1NISNiB9v7j//xAAeEQACAgEFAQAAAAAAAAAAAAAAAQIREBIhMUFRcf/aAAgBAwEBPwCUaV5m7WYz1DO+CGzaGyxnnzH/2Q=="
                                    class="jciay5ix flx-grow-0 flx-shrink-0 flx-basis-auto img-thumb-blur"
                                    style="width: 100%;">
                            </div>
                            <div class="pos-abs z-ind-1 dsp-flx flx-align-center flx-just-con-center wdth-100 hght-100">
                                <img src="blob:https://web.whatsapp.com/74fc8413-84a8-4bb0-963b-6e11980cf571"
                                    class="jciay5ix flx-grow-0 flx-shrink-0 flx-basis-auto" style="width: 100%;">
                            </div>
                        </div>
                        <div class="pos-abs bottom-0 left-0 z-ind-2 wdth-100 hght-28px b-img-l-grad"></div>
                    </div>
                    <div class="bottom-6px pos-abs right-8px z-ind-2">
                        <div class="clr-white font-size-0-68-rem hght-15-px line-hght-15-px wht-space-nowrap _1WSmF"
                            data-testid="msg-meta">
                            <span class="dsp-inline-b v-align-top" dir="auto">3:49 am</span>
                        </div>
                    </div>
                </div>
            </div><span></span>
            <div class="abs-r5-t7"></div>
        </div>
        <div class="dsp-flx wdth-min-0 hght-min-0 flx-just-con-start flx-dir-row flx-align-center div-empty">
            <div
                class="flx-grow-0 m0h2a7mj flx-basis-auto j7l1k36l wdth-min-0 hght-min-0 gjuq5ydh rqm6ogl5 i5tg98hk pad-r-3px przvwfww snweb893">
                <button
                    class="i5tg98hk f9ovudaz przvwfww gx1rr48f shdiholb phqmzxqs gtscxtjd ajgl1lbb thr4l2wc cc8mgx9x eta5aym1 d9802myq e4xiuwjv _1d5bX"
                    type="button" aria-label="Forward media"><span data-testid="forward-chat" data-icon="forward-chat"
                        class=""><svg viewBox="0 0 25 25" width="25" height="25" class="">
                            <path fill-rule="evenodd" clip-rule="evenodd" fill="currentColor"
                                d="M14.248 6.973a.688.688 0 0 1 1.174-.488l5.131 5.136a.687.687 0 0 1 0 .973l-5.131 5.136a.688.688 0 0 1-1.174-.488v-2.319c-4.326 0-7.495 1.235-9.85 3.914-.209.237-.596.036-.511-.268 1.215-4.391 4.181-8.492 10.361-9.376v-2.22z">
                            </path>
                        </svg></span></button>
            </div>
            <div
                class="flx-grow-0 m0h2a7mj flx-basis-auto j7l1k36l wdth-min-0 hght-min-0 gjuq5ydh rqm6ogl5 i5tg98hk pad-r-3px przvwfww snweb893">
                <div></div>
            </div>
        </div>
    </div>
</div>
<!-- Image with caption -->
<div tabindex="-1" class="_1-FMR j-md4 message-out focusable-list-item"
    data-id="true_120363027273831180@g.us_D9E2A36A8DF48F10798EF8F344E4856C_918264418010@c.us"><span></span>
    <div data-testid="msg-container" class="_1-lf9 _1pC3e _18q-J"><span data-testid="tail-out" data-icon="tail-out"
            class="_1kh65"><svg viewBox="0 0 8 13" width="8" height="13" class="">
                <path opacity=".13" d="M5.188 1H0v11.193l6.467-8.625C7.526 2.156 6.958 1 5.188 1z"></path>
                <path fill="currentColor" d="M5.188 0H0v11.193l6.467-8.625C7.526 1.156 6.958 0 5.188 0z"></path>
            </svg></span>
        <div class="ifty shadow-b">
            <span aria-label="You:"></span>
            <div class="b-sizing-b-box f4q7vbcz pad-top-3px pad-r-3px aa0kojfi snweb893 pos-rel z-ind-1 copyable-text"
                data-pre-plain-text="[9:12 pm, 23/08/2022] Raman: ">
                <div>
                    <div role="button" data-testid="image-thumb"
                        class="flx-align-center l8fojup5 paxyh2gw sfeitywo cqsf3vkf ajgl1lbb dsp-flx flx-just-con-center laorhtua gfz4du6o r7fjleex pos-rel"
                        style="width: 330px; height: 330px;">
                        <div class="pos-rel wdth-100 hght-100" data-testid="media-url-provider">
                            <div class="pos-abs z-ind-1 dsp-flx flx-align-center flx-just-con-center wdth-100 hght-100">
                                <img alt="New group pfp"
                                    src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEABsbGxscGx4hIR4qLSgtKj04MzM4PV1CR0JHQl2NWGdYWGdYjX2Xe3N7l33gsJycsOD/2c7Z//////////////8BGxsbGxwbHiEhHiotKC0qPTgzMzg9XUJHQkdCXY1YZ1hYZ1iNfZd7c3uXfeCwnJyw4P/Zztn////////////////CABEIAEgASAMBIgACEQEDEQH/xAAtAAEBAQEBAAAAAAAAAAAAAAAAAgEDBQEBAQEBAAAAAAAAAAAAAAAAAAECA//aAAwDAQACEAMQAAAA8MKAAAAAraYiequeXDQStzUu5ty53z6WxN8mgmwNwRcAAFAAAAA//8QAIRABAAICAgICAwAAAAAAAAAAAQACESESQRAgE0AxMlH/2gAIAQEAAT8A+qhxHO5wt/PCHT611Ve5pK2TuYvzzNAody36j6Dp1K4oZYhYLM+TrGoBUbEti5kjxwY/Pk2ktRbdYlzNQEnx2lDAikrVLR0vocd581aBuqv1v//EABgRAAIDAAAAAAAAAAAAAAAAAAEgABEw/9oACAECAQE/AHqFBr//xAAcEQACAQUBAAAAAAAAAAAAAAABEQACEBIgITD/2gAIAQMBAT8A2JmUFymC+yrFcgTT0Ifh/9k="
                                    class="jciay5ix flx-grow-0 flx-shrink-0 flx-basis-auto img-thumb-blur"
                                    style="width: 100%;"></div>
                            <div class="pos-abs z-ind-1 dsp-flx flx-align-center flx-just-con-center wdth-100 hght-100">
                                <img alt="New group pfp"
                                    src="blob:https://web.whatsapp.com/bfff2f87-a2ee-4691-84a0-9d933c0679bc"
                                    class="jciay5ix flx-grow-0 flx-shrink-0 flx-basis-auto" style="width: 100%;">
                            </div>
                        </div>
                    </div>
                    <div class="b-sizing-b-box cbjz30lg esbfogcw jfqm35v0 bxcbqipq mhcwslh8">
                        <div class="_1Gy50"><span dir="ltr" class="i0jNr selectable-text copyable-text"><span>New group
                                    pfp</span></span><span class="_20bHr _2ui2p"></span></div>
                    </div>
                    <div class="lrw9n60e pos-abs fz4q5utg z-ind-2">
                        <div class="gq1t1y46 font-size-0-68-rem hght-15-px line-hght-15-px wht-space-nowrap _1WSmF"
                            data-testid="msg-meta" role="button">
                            <span class="dsp-inline-b v-align-top" dir="auto">9:12 pm</span>
                            <div class="do8e0lj9 dsp-inline-b k6y3xtnu"><span data-testid="msg-dblcheck"
                                    aria-label=" Read " data-icon="msg-dblcheck" class="_3l4_3"><svg viewBox="0 0 16 15"
                                        width="16" height="15" class="">
                                        <path fill="currentColor"
                                            d="m15.01 3.316-.478-.372a.365.365 0 0 0-.51.063L8.666 9.879a.32.32 0 0 1-.484.033l-.358-.325a.319.319 0 0 0-.484.032l-.378.483a.418.418 0 0 0 .036.541l1.32 1.266c.143.14.361.125.484-.033l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0-.478-.372a.365.365 0 0 0-.51.063L4.566 9.879a.32.32 0 0 1-.484.033L1.891 7.769a.366.366 0 0 0-.515.006l-.423.433a.364.364 0 0 0 .006.514l3.258 3.185c.143.14.361.125.484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z">
                                        </path>
                                    </svg></span></div>
                        </div>
                    </div>
                </div>
            </div><span></span>
            <div class="abs-r5-t7"></div>
        </div>
        <div class="dsp-flx wdth-min-0 hght-min-0 kcgo1i74 flx-dir-row flx-align-center div-empty">
            <div
                class="flx-grow-0 m0h2a7mj flx-basis-auto j7l1k36l wdth-min-0 hght-min-0 gjuq5ydh rqm6ogl5 i5tg98hk pad-r-3px przvwfww snweb893">
                <div></div>
            </div>
            <div
                class="flx-grow-0 m0h2a7mj flx-basis-auto j7l1k36l wdth-min-0 hght-min-0 gjuq5ydh rqm6ogl5 i5tg98hk pad-r-3px przvwfww snweb893">
                <button
                    class="i5tg98hk f9ovudaz przvwfww gx1rr48f shdiholb phqmzxqs gtscxtjd ajgl1lbb thr4l2wc cc8mgx9x eta5aym1 d9802myq e4xiuwjv _1d5bX"
                    type="button" aria-label="Forward media"><span data-testid="forward-chat" data-icon="forward-chat"
                        class=""><svg viewBox="0 0 25 25" width="25" height="25" class="">
                            <path fill-rule="evenodd" clip-rule="evenodd" fill="currentColor"
                                d="M14.248 6.973a.688.688 0 0 1 1.174-.488l5.131 5.136a.687.687 0 0 1 0 .973l-5.131 5.136a.688.688 0 0 1-1.174-.488v-2.319c-4.326 0-7.495 1.235-9.85 3.914-.209.237-.596.036-.511-.268 1.215-4.391 4.181-8.492 10.361-9.376v-2.22z">
                            </path>
                        </svg></span></button>
            </div>
        </div>
    </div>
</div>


<!-- FORWARDED NORMAL TEXT -->
<div class="_2tsYl"><span data-testid="forwarded" data-icon="forwarded" class="_2suca l7jjieqr fewfhwl7"><svg width="16"
            height="16" viewBox="0 0 16 16" class="">
            <path
                d="M9.519 3.875a.54.54 0 0 1 .922-.382l4.03 4.034a.54.54 0 0 1 0 .764l-4.03 4.034a.54.54 0 0 1-.922-.383v-1.821c-3.398 0-5.886.97-7.736 3.074-.164.186-.468.028-.402-.211.954-3.449 3.284-6.67 8.138-7.363V3.875Z"
                fill="currentColor">
            </path>
        </svg>
    </span>
    <span class="_25ont">Forwarded</span>
</div>