<!-- MUST ADD message-in or message-out to the following div in js -->
<template id="msg-txt">
    <div data-temp-id="main" msgid="0000" msgchatrowid="0000" class="msg" msgkeyid="XRANDOM32DIGITLONGHASHSOMETHINGX"
        msgjidrawstring="whosentit">
        <div data-temp-id="2" id="msg-container">
            <div data-temp-id="3" class="ifty">
                <!-- msg22 div must be removed if its a video -->
                <div class="msg22">
                    <div data-temp-id="append-here" class="copyable-text" timesent="1234567891011">
                        <div id="txt-msg-con" class="txt-msg-con">
                            <span dir="ltr" class="visible selectable-text copyable-text">
                                <span data-temp-id="my-text">
                                    ..%[==TEXT NOT SET BY JAVASCRIPT==]%..err
                                </span>
                            </span>
                            <span class="dsp-inline-b-v-align-mid wdth-lang"></span>
                        </div>
                    </div>
                    <div data-temp-id="time-read-outer-div" class="time-read">
                        <div class="clr-bubble-meta font-size-0-68-rem hght-15-px line-hght-15-px wht-space-nowrap _1WSmF"
                            data-testid="msg-meta" role="button">
                            <span data-temp-id="msg-time" class="dsp-inline-b v-align-top" dir="auto">
                                00:00 pm
                            </span>
                            <!-- Read status div -->
                            <div data-temp-id="msg-dblcheck-div" class="marg-l-3px dsp-inline-b clr-bubble-meta-ico">
                                <!-- By removing .clr-icon-ack double tick ico becomes receieved -->
                                <span data-temp-id="msg-dblcheck" aria-label=" Read " data-icon="msg-dblcheck"
                                    class="clr-icon-ack">
                                    <svg viewBox="0 0 16 15" width="16" height="15" class="">
                                        <path fill="currentColor"
                                            d="m15.01 3.316-.478-.372a.365.365 0 0 0-.51.063L8.666 9.879a.32.32 0 0 1-.484.033l-.358-.325a.319.319 0 0 0-.484.032l-.378.483a.418.418 0 0 0 .036.541l1.32 1.266c.143.14.361.125.484-.033l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0-.478-.372a.365.365 0 0 0-.51.063L4.566 9.879a.32.32 0 0 1-.484.033L1.891 7.769a.366.366 0 0 0-.515.006l-.423.433a.364.364 0 0 0 .006.514l3.258 3.185c.143.14.361.125.484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z">
                                        </path>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<!-- Must append to regular text message -->
<template id="msg-reply">
    <div data-temp-id="msg-reply-main" class="marg-346">
        <div data-testid="quoted-message" class="wdth-100">
            <div class="soft" role="button">
                <span class="bg-color-1 tiny-bar"></span>
                <div class="rply-con">
                    <div class="flx-grow-over-hid">
                        <div class="sender-name color-1" role="button">
                            <span data-temp-id="sender-name" dir="auto" class="aJatt visible">SENDER
                                NAME</span>
                        </div>
                        <div class="rply-to-msg" dir="ltr" role="button">
                            <!-- Are we replying to an img - if yes then enable display:inline-block; -->
                            <div data-temp-id="is-reply-to-img-ico" class="photo-icon status-image marg-r-3px"
                                style="display:none" ;>
                                <span data-testid="status-image" data-icon="status-image" class=""><svg
                                        viewBox="0 0 16 20" width="16" height="20" class="">
                                        <path fill="currentColor"
                                            d="M13.822 4.668H7.14l-1.068-1.09a1.068 1.068 0 0 0-.663-.278H3.531c-.214 0-.51.128-.656.285L1.276 5.296c-.146.157-.266.46-.266.675v1.06l-.001.003v6.983c0 .646.524 1.17 1.17 1.17h11.643a1.17 1.17 0 0 0 1.17-1.17v-8.18a1.17 1.17 0 0 0-1.17-1.169zm-5.982 8.63a3.395 3.395 0 1 1 0-6.79 3.395 3.395 0 0 1 0 6.79zm0-5.787a2.392 2.392 0 1 0 0 4.784 2.392 2.392 0 0 0 0-4.784z">
                                        </path>
                                    </svg></span>
                            </div>

                            <!-- Actual text of the reply -->
                            <span data-temp-id="sender-text" dir="auto" class="quoted-mention visible">Reply to text
                                message will appear
                                here.</span>
                        </div>
                    </div>
                </div>
                <!-- Enable one of the following if we are replying to any kind of media -->
                <!-- #1 IMAGE -->
                <div data-temp-id="is-reply-to-img-thumb" class="flx-00a-over-hid" style="display:none;">
                    <div class="rply-thumb-outer-div">
                        <div class="pos-rel wdth-100 hght-100" data-testid="media-url-provider">
                            <div class="pos-abs z-ind-1 dsp-flx flx-align-center flx-just-con-center wdth-100 hght-100">
                                <div data-temp-id="reply-img-thumb-bg-url"
                                    class="pos-abs wdth-100 hght-100 bg-pos-center bg-size-cover" style="background-image: 
                                    url('');">
                                </div>
                            </div>
                            <div class="pos-abs z-ind-1 dsp-flx flx-align-center flx-just-con-center wdth-100 hght-100">
                                <div data-temp-id="reply-img-bg-url"
                                    class="pos-abs wdth-100 hght-100 bg-pos-center bg-size-cover" style="background-image: 
                                    url('');">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<!-- template image regular -->
<template id="img-regular">
    <div class="b-sizing-b-box wdth-max-246px pad-top-3px pad-r-3px aa0kojfi pad-l-3px pos-rel z-ind-1">
        <div>
            <div role="button" data-temp-id="img-outer"
                class="flx-align-center b-tl-rad-6px b-tr-rad-6px b-br-rad-6px b-bl-rad-6px cur-point dsp-flx flx-just-con-center wdth-max-100 overflow-hid-x overflow-hid-y pos-rel">
                <div class="pos-rel wdth-100 hght-100" data-testid="media-url-provider">
                    <div class="pos-abs z-ind-1 dsp-flx flx-align-center flx-just-con-center wdth-100 hght-100">
                        <img data-temp-id="img-thumb" loading="lazy"
                            src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEABsbGxscGx4hIR4qLSgtKj04MzM4PV1CR0JHQl2NWGdYWGdYjX2Xe3N7l33gsJycsOD/2c7Z//////////////8BGxsbGxwbHiEhHiotKC0qPTgzMzg9XUJHQkdCXY1YZ1hYZ1iNfZd7c3uXfeCwnJyw4P/Zztn////////////////CABEIAEEAMAMBIgACEQEDEQH/xAAwAAACAwEBAAAAAAAAAAAAAAADBAACBQYBAQADAQEAAAAAAAAAAAAAAAAAAQMCBP/aAAwDAQACEAMQAAAAITIYzTU9uJzuUBWucNSmejYa53ecDFRAzn3gMN31ExZLjVAz13PeriKTSjrPpsCZikkvh5ySLkkD/8QAJhAAAgMAAQMDBAMAAAAAAAAAAQIAAxEEEhMhBTFBIjJDURBCUv/aAAgBAQABPwAuw0kiI7MR7QuAcY5O5Sv9hBbQT9w2Blcas53024CcnprlnfTGCN7iGik+4g4tP+YtSKME5xZrj1Cem/e8flVJYEJ8mDIP3KjW40MMnPTLA3XuzhEqHYTjEtySLPmA4BLmJUgThAVhvPuYzPYdwzgoHR1MPG7dqlWJEB8TkFmIAM7zVfHmFj0kicE/S0ts6RsXnV4JfaXfQcjM7DS0UdQz9yio0gy1/Bmdf4zGRkwsniPpAw7EaLaXXARsKWs2ShO2mE6YcIwztICCFg+YIn44v8Gf/8QAHREAAwABBQEAAAAAAAAAAAAAAAECEAMRIDFBcf/aAAgBAgEBPwDlcOceGqm1NISNiB9v7j//xAAeEQACAgEFAQAAAAAAAAAAAAAAAQIREBIhMUFRcf/aAAgBAwEBPwCUaV5m7WYz1DO+CGzaGyxnnzH/2Q=="
                            class="jciay5ix flx-grow-0 flx-shrink-0 flx-basis-auto img-thumb-blur" style="width: 100%;">
                    </div>
                    <div class="pos-abs z-ind-1 dsp-flx flx-align-center flx-just-con-center wdth-100 hght-100">
                        <img data-temp-id="img" src="NO_SRC_ADDED" loading="lazy"
                            class="jciay5ix flx-grow-0 flx-shrink-0 flx-basis-auto wdth-100"
                            style="visibility: hidden;">
                    </div>
                </div>
                <div class="pos-abs bottom-0 left-0 z-ind-2 wdth-100 hght-28px b-img-l-grad"></div>
            </div>
            <!-- Caption goes here hidden by default -->
            <div data-temp-id="img-caption-div"
                class="b-sizing-b-box wdth-max-330px pad-t-7px pad-r-4px pad-b-5px pad-l-6px" style="display:none;">
                <div class="txt-msg-con" style="text-align: start;">
                    <span dir="ltr" class="visible selectable-text copyable-text">
                        <span data-temp-id="img-caption">[IMAGE CAPTION GOES HERE]</span>
                    </span>
                    <span class="dsp-inline-b-v-align-mid wdth-lang"></span>
                </div>
            </div>
            <div class="bottom-6px pos-abs right-8px z-ind-2">
                <div class="clr-white font-size-0-68-rem hght-15-px line-hght-15-px wht-space-nowrap _1WSmF"
                    data-testid="msg-meta">
                    <span data-temp-id="time" class="dsp-inline-b v-align-top" dir="auto">3:49 am
                    </span>
                    <!-- Read status div -->
                    <div data-temp-id="msg-dblcheck-div" class="marg-l-3px dsp-inline-b clr-bubble-meta-ico">
                        <!-- By removing .clr-icon-ack double tick ico becomes receieved -->
                        <span data-temp-id="msg-dblcheck" aria-label=" Read " data-icon="msg-dblcheck"
                            class="clr-icon-ack">
                            <svg viewBox="0 0 16 15" width="16" height="15" class="">
                                <path fill="currentColor"
                                    d="m15.01 3.316-.478-.372a.365.365 0 0 0-.51.063L8.666 9.879a.32.32 0 0 1-.484.033l-.358-.325a.319.319 0 0 0-.484.032l-.378.483a.418.418 0 0 0 .036.541l1.32 1.266c.143.14.361.125.484-.033l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0-.478-.372a.365.365 0 0 0-.51.063L4.566 9.879a.32.32 0 0 1-.484.033L1.891 7.769a.366.366 0 0 0-.515.006l-.423.433a.364.364 0 0 0 .006.514l3.258 3.185c.143.14.361.125.484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z">
                                </path>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template id="vid-regular">
    <div class="ifty shadow-b">
        <div class="copyable-text" data-pre-plain-text="[10:23 pm, 25/08/2022] Owner: ">
            <div class="b-sizing-b-box width-max-bubble-media pos-rel z-ind-1 pad-top-3px pad-r-3px pad-b-3px pad-l-3px">
                <div data-testid="video-content"
                    class="pos-rel dsp-flx flx-align-center flx-just-con-center wdth-max-100 overflow-hid-x overflow-hid-y bg-clr-gray-600 b-tl-rad-6px b-tr-rad-6px b-br-rad-6px b-bl-rad-6px bef-pos-abs bef-t-0 bef-l-0 bef-z-ind-2 bef-wdth-100 bef-hght-100 bef-con-empty bef-opa-03 cur-point"
                    style="width: 330px; height: 185.625px;">
                    <div class="z-ind-101 opa-0 trans-opa-075">
                        <button
                            class="pos-abs z-ind-100 cur-point top-6px left-11px">
                            <span data-testid="video-pip"
                                data-icon="video-pip" class="">
                                <svg width="24" height="24" viewBox="0 0 24 24" class="">
                                    <defs>
                                        <filter x="-39.5%" y="-46.4%" width="173.7%" height="200%"
                                            filterUnits="objectBoundingBox" id="video-pip-filter-1">
                                            <feOffset dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                                            <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter1"
                                                result="shadowBlurOuter1"></feGaussianBlur>
                                            <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.3 0"
                                                in="shadowBlurOuter1" result="shadowMatrixOuter1"></feColorMatrix>
                                            <feMerge>
                                                <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                                                <feMergeNode in="SourceGraphic"></feMergeNode>
                                            </feMerge>
                                        </filter>
                                    </defs>
                                    <g filter="url(#video-pip-filter-1)" transform="translate(3 4)" fill="#FFF"
                                        fill-rule="evenodd">
                                        <path
                                            d="M11.35 6h6a1.2 1.2 0 0 0 1.2-1.2V1.2a1.2 1.2 0 0 0-1.2-1.2h-6a1.2 1.2 0 0 0-1.2 1.2v3.6a1.2 1.2 0 0 0 1.2 1.2">
                                        </path>
                                        <path
                                            d="M8.65 1.875v1.5H1.2a.45.45 0 0 0-.45.45v8.6c0 .248.202.45.45.45h13.4a.45.45 0 0 0 .45-.45v-5.25h1.5v5.25a1.95 1.95 0 0 1-1.95 1.95H1.2a1.95 1.95 0 0 1-1.95-1.95v-8.6a1.95 1.95 0 0 1 1.95-1.95h7.45Z"
                                            fill-rule="nonzero"></path>
                                    </g>
                                </svg></span></button></div>
                    <div
                        class="flx-align-center clr-inverse dsp-flx hght-100 flx-just-con-center left-0 pos-abs top-0 wdth-100 z-ind-100">
                        <div
                            class="flx-align-center bg-clr-overlay b-tl-rad-50 b-tr-rad-50 b-br-rad-50 b-bl-rad-50 clr-inverse dsp-flx hght-50px flx-just-con-center pos-rel wdth-50px">
                            <span data-testid="media-play" data-icon="media-play" class="marg-l-2px">
                                <svg width="24" height="24" viewBox="0 0 24 24" class="">
                                    <path
                                        d="m19.5 10.9-13-7.5c-1.3-.7-2.4-.1-2.4 1.4v15c0 1.5 1.1 2.1 2.4 1.4l13-7.5c1.3-.9 1.3-2.1 0-2.8Z"
                                        fill="currentColor">
                                    </path>
                                </svg>
                            </span>
                        </div>
                    </div>
                    <div 
                        data-temp-id="vid-regular-url"
                        class="pos-abs top-blur-rad-thumb left-blur-rad-thumb z-ind-1 flx-none wdth-100 hght-100 pad-t-blur-rad-thumb pad-r-blur-rad-thumb pad-b-blur-rad-thumb pad-l-blur-rad-thumb bg-pos-5050 bg-size-cover"
                        style="background-image: url(data:image/jpeg;base64,;); width: 100%;">
                    </div>
                    <div class="pos-abs bottom-0 left-0 z-ind-2 wdth-100 hght-28px b-img-l-grad"></div>
                    <span
                        data-temp-id="vid-regular-duration"
                        class="pos-abs bottom-3px left-6px z-ind-100 hght-15-px font-size-0-68-rem line-hght-15-px clr-white">
                        <div class="dsp-inline-b margin-right: 3px; clr-inverse v-align-top">
                            <span data-testid="msg-video"
                                data-icon="msg-video" class="">
                                <svg viewBox="0 0 16 14" width="16" height="14" class="">
                                    <path fill="currentColor"
                                        d="m14.987 2.668-3.48 3.091v-2.27c0-.657-.532-1.189-1.189-1.189H1.689C1.032 2.3.5 2.832.5 3.489v7.138c0 .657.532 1.189 1.189 1.189h8.629c.657 0 1.189-.532 1.189-1.189V8.328l3.48 3.09v-8.75z">
                                    </path>
                                </svg></span></div>0:10
                    </span>
                </div>
                <!-- Caption hidden by default -->
                <div 
                    data-temp-id="vid-regular-caption"
                    style="display:none;"
                    class="b-sizing-b-box wdth-max-media pad-t-7px pad-r-4px pad-b-5px pad-l-6px">
                    <div class="txt-msg-con">
                        <span dir="ltr" class="visible selectable-text copyable-text">
                            <span data-temp-id="vid-regular-caption-text">#3 THIS IS DEFAULT A VIDEO CAPTION
                                </span>
                            </span>
                            <span class="dsp-inline-b-v-align-mid wdth-lang"></span>
                    </div>
                </div>
                <div class="bottom-3px pos-abs right-7px z-ind-100">
                    <!-- Invert time color if there is no caption: set to clr-bubble-meta -->
                    <div class="clr-inverse font-size-0-68-rem hght-15-px line-hght-15-px wht-space-nowrap _1WSmF" 
                    data-testid="msg-meta"
                        role="button">
                        <span 
                            data-temp-id="time"
                            class="dsp-inline-b v-align-top" dir="auto">
                            10:23 pm
                        </span>
                        <!-- Read status div -->
                        <div data-temp-id="msg-dblcheck-div" class="marg-l-3px dsp-inline-b clr-bubble-meta-ico">
                            <!-- By removing .clr-icon-ack double tick ico becomes receieved -->
                            <span data-temp-id="msg-dblcheck" aria-label=" Read " data-icon="msg-dblcheck"
                                class="clr-icon-ack">
                                <svg viewBox="0 0 16 15" width="16" height="15" class="">
                                    <path fill="currentColor"
                                        d="m15.01 3.316-.478-.372a.365.365 0 0 0-.51.063L8.666 9.879a.32.32 0 0 1-.484.033l-.358-.325a.319.319 0 0 0-.484.032l-.378.483a.418.418 0 0 0 .036.541l1.32 1.266c.143.14.361.125.484-.033l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0-.478-.372a.365.365 0 0 0-.51.063L4.566 9.879a.32.32 0 0 1-.484.033L1.891 7.769a.366.366 0 0 0-.515.006l-.423.433a.364.364 0 0 0 .006.514l3.258 3.185c.143.14.361.125.484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z">
                                    </path>
                                </svg>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div><span></span>
        <div class="_39T_J"></div>
    </div>
</template>

<template id="forwarded">
    <div class="b-sizing-b-box wdth-max-246px pad-top-3px pad-r-3px pad-b-3px pad-l-3px pos-rel z-ind-1">
        <div>
            <div data-temp-id="forwarded-div-outer" class="marg-l-n-2px pad-top-3px pad-r-0 pad-b-3px pad-l-6px"
                style="text-align: left;">
                <span data-testid="forwarded" data-icon="forwarded" class="clr-icon-lighter dsp-inline-b v-align-top">
                    <svg width="16" height="16" viewBox="0 0 16 16" class="">
                        <path
                            d="M9.519 3.875a.54.54 0 0 1 .922-.382l4.03 4.034a.54.54 0 0 1 0 .764l-4.03 4.034a.54.54 0 0 1-.922-.383v-1.821c-3.398 0-5.886.97-7.736 3.074-.164.186-.468.028-.402-.211.954-3.449 3.284-6.67 8.138-7.363V3.875Z"
                            fill="currentColor">
                        </path>
                    </svg>
                </span>
                <span class="_25font">Forwarded</span>
            </div>
</template>

<template id="msg-sys-default">
    <div role="button" class="overflow-hid-ellips">
        <span data-temp-id="msg-sys-text" dir="ltr" class="visible">
            This is a default system message.
        </span>
    </div>
</template>

<!-- System message template type: 67 END TO END ENCRYPTION -->
<template id="msg-sys-end-2-end-enc">
    <div role="button"><span>
            <div class="dsp-inline-b marg-top-4px marg-top-4x-meowy-pad v-align-top clr-notf-e2e">
                <span data-testid="lock-small" data-icon="lock-small" class="">
                    <svg width="10" height="12" viewBox="0 0 10 12" class="">
                        <path
                            d="M5.008 1.6c1.375 0 2.501 1.074 2.586 2.427l.005.164v1.271h.158c.585 0 1.059.48 1.059 1.07v3.351c0 .59-.474 1.07-1.059 1.07h-5.5c-.582 0-1.057-.48-1.057-1.07V6.531c0-.59.474-1.069 1.058-1.069h.158V4.191c0-1.375 1.075-2.501 2.429-2.586l.163-.005Zm0 1.248c-.696 0-1.272.534-1.337 1.214l-.006.129-.002 1.271H6.35l.001-1.271c0-.653-.47-1.2-1.088-1.319l-.126-.018-.129-.006Z"
                            fill="currentColor"></path>
                    </svg></span>
            </div><span dir="ltr" class="visible">Messages are end-to-end encrypted. No one outside
                of this chat, not even WhatsApp, can read or listen to them. Click to learn more.</span>
        </span></div>

</template>
<!-- System message template type: 67 ends here -->

<template id="msg-sys">
    <div data-temp-id="main" tabindex="-1" class="msg j-md4 focusable-list-item"
        data-id="JID_RAW_STRING_AND_MSG_KEY_ID_GOES_HERE"><span></span>
        <div data-temp-id="msg-notification-container" class="_msg-norm _sys-msg">
            <div data-temp-id="append-ifty" class="ifty">

                <span></span>
                <div class="abs-r5-t7"></div>
            </div>
            <div class="dsp-flx wdth-min-0 hght-min-0 flx-just-con-start flx-dir-row flx-align-center div-empty"></div>
        </div>
    </div>
</template>

<template id="msg-missed-call">
    <span><span>
            <div class="dsp-inline-b marg-top-4x-meowy-pad v-align-neg-4px">
                <span data-testid="miss" data-icon="miss" class="clr-danger">
                    <svg viewBox="0 0 20 17" width="20" height="17" class="">
                        <path fill="currentColor"
                            d="M18.2 12.1c-1.5-1.8-5-2.7-8.2-2.7s-6.7 1-8.2 2.7c-.7.8-.3 2.3.2 2.8.2.2.3.3.5.3 1.4 0 3.6-.7 3.6-.7.5-.2.8-.5.8-1v-1.3c.7-1.2 5.4-1.2 6.4-.1l.1.1v1.3c0 .2.1.4.2.6.1.2.3.3.5.4 0 0 2.2.7 3.6.7.2 0 1.4-2 .5-3.1zM5.4 3.2l4.7 4.6 5.8-5.7-.9-.8L10.1 6 6.4 2.3h2.5V1H4.1v4.8h1.3V3.2z">
                        </path>
                    </svg></span>
            </div>
            <span data-temp-id="missed-call-text" dir="ltr" class="visible">
                Missed voice call at 00:00 pm
            </span>
        </span></span>
</template>